name: build

on:
  push:
    tags:
      - '*.*.*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        target: x86_64-pc-windows-msvc
        profile: minimal
        override: true
    - name: Build
      run: cargo build --release --target x86_64-pc-windows-msvc
    - name: Rename files
      run: ren target/x86_64-pc-windows-msvc/release/gmsv_concolormsg.dll gmsv_concolormsg_win64.dll
    - name: Create VDF
      run: echo Plugin { file "lua/bin/gmsv_concolormsg_win64.dll" } > gmsv_concolormsg.vdf
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          target/x86_64-pc-windows-msvc/release/gmsv_concolormsg_win64.dll
          gmsv_concolormsg.vdf
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}